In [3]:
import requests
import pandas as pd

In [63]:
season_id = '2021-22'
# for newest team info, change this id to next season

In [64]:
player_url = 'https://stats.nba.com/stats/playerindex?College=&Country=&DraftPick=&DraftRound=&DraftYear=&Height=&Historical=1&LeagueID=00&Season='+season_id+'&SeasonType=Regular%20Season&TeamID=0&Weight='

In [65]:
headers  = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/plain, */*',
    'x-nba-stats-token': 'true',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
    'x-nba-stats-origin': 'stats',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
}

In [68]:
response = requests.get(url=player_url, headers=headers).json()

In [69]:
player_info = response['resultSets'][0]['rowSet']

In [70]:
player_info[0]

[76001,
 'Abdelnaby',
 'Alaa',
 'alaa-abdelnaby',
 1610612757,
 'blazers',
 0,
 'Portland',
 'Trail Blazers',
 'POR',
 '30',
 'F',
 '6-10',
 '240',
 'Duke',
 'USA',
 1990,
 1,
 25,
 None,
 5.7,
 3.3,
 0.3,
 'Career',
 '1990',
 '1994']

In [54]:
len(player_info[0])

26

In [71]:
column_list = [
"PERSON_ID",
"PLAYER_LAST_NAME",
"PLAYER_FIRST_NAME",
"PLAYER_SLUG",
"TEAM_ID",
"TEAM_SLUG",
"IS_DEFUNCT",
"TEAM_CITY",
"TEAM_NAME",
"TEAM_ABBREVIATION",
"JERSEY_NUMBER",
"POSITION",
"HEIGHT",
"WEIGHT",
"COLLEGE",
"COUNTRY",
"DRAFT_YEAR",
"DRAFT_ROUND",
"DRAFT_NUMBER",
"ROSTER_STATUS",
"PTS",
"REB",
"AST",
"STATS_TIMEFRAME",
"FROM_YEAR",
"TO_YEAR",
]

In [72]:
player_df = pd.DataFrame(player_info, columns = column_list)

In [77]:
player_df.sample(10)

,PERSON_ID,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,PLAYER_SLUG,TEAM_ID,TEAM_SLUG,IS_DEFUNCT,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,...,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,PTS,REB,AST,STATS_TIMEFRAME,FROM_YEAR,TO_YEAR
707,76375,Chamberlain,Wilt,wilt-chamberlain,1610612744,warriors,0,Golden State,Warriors,GSW,...,1959.0,NaN,NaN,NaN,30.1,22.9,4.4,Career,1959,1972
4164,1630225,Todd,Isaiah,isaiah-todd,1610612764,wizards,0,Washington,Wizards,WAS,...,2021.0,2.0,31.0,1.0,NaN,NaN,NaN,Career,2021,2021
2026,2229,James,Mike,mike-james,1610612748,heat,0,Miami,Heat,MIA,...,NaN,NaN,NaN,NaN,9.9,2.2,3.5,Career,2001,2013
3397,77890,Pullard,Anthony,anthony-pullard,1610612749,bucks,0,Milwaukee,Bucks,MIL,...,NaN,NaN,NaN,NaN,2.1,1.0,0.3,Career,1992,1992
1667,76937,Hannum,Alex,alex-hannum,1610612758,kings,0,Sacramento,Kings,SAC,...,1948.0,NaN,NaN,NaN,6.0,4.5,1.7,Career,1949,1956
774,202708,Cole,Norris,norris-cole,1610612748,heat,0,Miami,Heat,MIA,...,2011.0,1.0,28.0,NaN,7.0,2.0,2.7,Career,2011,2016
4577,788,Willis,Kevin,kevin-willis,1610612737,hawks,0,Atlanta,Hawks,ATL,...,1984.0,1.0,11.0,NaN,12.1,8.4,0.9,Career,1984,2006
1905,780,Houston,Byron,byron-houston,1610612744,warriors,0,Golden State,Warriors,GSW,...,1992.0,1.0,27.0,NaN,3.9,3.0,0.5,Career,1992,1995
851,202326,Cousins,DeMarcus,demarcus-cousins,1610612746,clippers,0,LA,Clippers,LAC,...,2010.0,1.0,5.0,1.0,20.4,10.6,3.1,Career,2010,2021
1748,1138,Hawkins,Michael,michael-hawkins,1610612738,celtics,0,Boston,Celtics,BOS,...,NaN,NaN,NaN,NaN,1.8,0.9,1.6,Career,1996,2000

In [79]:
player_df.to_csv('player_index.csv', index = False)

In [ ]:
season_list = [
    '2016-17'
    '2017-18'
    '2018-19'
    '2019-20'
    '2020-21'
]